<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Page not found')">
        <title>Title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:replace="fragments/layout :: header">Header</div>
        
        <div th:replace="fragments/layout :: navbar">Navbar</div>
                
        <div class="container pb-2 mt-2">
            <div class="alert alert-danger" role="alert">
                Page not found! <a th:href="@{/}" class="alert-link">Return to home page.</a>
            </div>
        </div>
    </body>
</html>
