<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(${title})">
        <title>Title</title>
        <meta charset="UTF-8">
    </head>
    <body onload="showAllProducts(url)"> 
        <div th:replace="fragments/layout :: header">Header</div>
        
        <div th:replace="fragments/layout :: navbar">Navbar</div>
        
        <div th:replace="fragments/layout :: content-header(${title})">Content Header</div>
        
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Product ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Color</th>
                      <th scope="col">Price</th>
                      <th scope="col">Manufacturer</th>
                    </tr>
                </thead>
                <tbody id="products"></tbody>
            </table>
            
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-secondary m-2" role="status" id="loader">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>    
            
            <span id="errorMessage"></span>
        </div>
        
        <script th:inline="javascript">
            var url = [[${url}]]
        </script>
        <script th:src="@{/javascript/script.js}"></script>
    </body>
</html>
