<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(${title})">
        <title>Title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:replace="fragments/layout :: header">Header</div>
        
        <div th:replace="fragments/layout :: navbar">Navbar</div>
        
        <div th:replace="fragments/layout :: content-header(${title})">Content Header</div>
        
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Product ID</th>
                      <th scope="col">test column</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">test id</th>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
